<div id="podcast_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1>The RocketShip Podcast Dashboard</h1>			
		</div>
	</div>
	<div id="links_1">
		<div class="wrapper_skinny">
			<ul>
				<li class="current">Episodes</li>
        <li><%= link_to "New Episode", new_podcast_episode_path(@podcast),class: 'blanco' %></li>
        <li><%= link_to "Account settings", edit_podcast_registration_path,class: 'blanco' %></li>
        <li><a href="#">View Podcast</a></li>
			</ul>
		</div>
	</div>
	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @episodes.each do |episode| %>
					<li class="cf">
						<div class="episode_thumbnail">
							<a href="#">
								<%= image_tag episode.episode_thumbnail.url(:large) %>	
							</a>
						</div>
						<div class="episode_overview">
							<h2><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h2>
							<p class="description">
								<%= truncate(episode.description, length: 130) %>
							</p>
							<div class="authorized_links">
								<%= link_to "Edit", edit_podcast_episode_path(@podcast, episode) %>
								<%= link_to "Delete", podcast_episode_path(@podcast, episode), method: :delete, data:{confirm: "Are You Sure"} %>
							</div>
						</div>
					</li>
				<% end %>

			</ul>


		</div>
	</div>
</div>


<div class="pagination">	
	<span class="previous_page disabled"> Previous</span>
	<em class="current">1</em>
	<a href="#">2</a>
	<a href="#" class="next_page">Next</a>
</div>

