<!DOCTYPE html>
<html>
<head>
  <title>PodcastEvg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<% if @fondo == true %>
	<body class="homepage">
<% elsif  @fondo_pod == true%>	
	<body class="home_pod">
<% elsif  @fondo_pod_show == true%>	
	<body class="home_pod_show">	
<% else %>	
	<body>
<% end %>	
	
<header class="cf">
	<div class="wrapper_wide">
			<a href="" id="logo">Podcast.fm</a>
		<nav>
			<ul>
				<% unless podcast_signed_in? %>
					<li><a href="">Explore</a></li>
					<li><a href=""><%= link_to "Sign In", new_podcast_session_path %></a></li>
					<li><a href=""><%= link_to "Create a Podcast In", new_podcast_registration_path %></a></li>
				<% else %>
					<li><a href="">Dashboard</a></li>
					<li><a href="">Explore</a></li>
					<li><a href=""><%= link_to "Sign Out", destroy_podcast_session_path, method: :delete %></a></li>
				<% end %>
			</ul>
		</nav>
	</div>	
</header>		
	
	<% if alert %>
		<p class="alert"><%= alert %></p>
	<% elsif notice %>
		<p class="notice"><%= notice %></p>
	<% end %>
	<%= yield %>


</body>
</html>
